/data/*.csv
.DS_Store
converted
converted_0
converted_1
converted_3
converted_4
converted_5
converted_6
converted_7
converted_8
converted_9
joined
joined_0
joined_1
joined_3
joined_4
joined_5
joined_6
joined_7
joined_8
joined_9
zipcode_region_0.json
zipcode_region_1.json
zipcode_region_3.json
zipcode_region_4.json
zipcode_region_5.json
zipcode_region_6.json
zipcode_region_7.json
zipcode_region_8.json
zipcode_region_9.json
dask-worker-space*
zipcodes/Untitled.csv
zipcodes/zipcode_shape_0.csv
zipcodes/zipcode_shape_1.csv
zipcodes/zipcode_shape_2.csv
zipcodes/zipcode_shape_3.csv
zipcodes/zipcode_shape_4.csv
zipcodes/zipcode_shape_5.csv
zipcodes/zipcode_shape_6.csv
zipcodes/zipcode_shape_7.csv
zipcodes/zipcode_shape_8.csv
zipcodes/zipcode_shape_9.csv
zipcodes/zipcodes.csv
